# python

In [1]:
print ('Hello, Python')

Hello, Python

## Assigning Values to Variables

In [2]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string
empname  = ankita

print (counter)
print (miles)
print (name)

100
1000.0
John

## Multiple Assignment

In [3]:
a = b = c = 1
print (type(name))

<class 'str'>

# Standard Data Types

## Python has five standard data types −

### * Numbers
### * String
### * List
### * Tuple
### * Dictionary

## Python Strings

In [4]:
 str = 'Hello World!'
 str1 = 'hey this is new string'
 
 print (str)          # Prints complete string
 print (str[8])       # Prints first character of the string
 print (str[2:5])     # Prints characters starting from 3rd to 5th
 print (str[2:])      # Prints string starting from 3rd character
 print (str * 2)      # Prints string two times
 print (str + str1) # Prints concatenated string

Hello World!
r
llo
llo World!
Hello World!Hello World!
Hello World!hey this is new string

## Python Lists

### Lists are the most versatile of Python's compound data types
### Items belonging to a list can be of different data type.

In [5]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

## Python Tuples
### A tuple is another sequence data type that is similar to the list
### A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis
### while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists

In [6]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete tuple
print (tuple[0])        # Prints first element of the tuple
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints tuple two times
print (tuple + tinytuple) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

### The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists −

In [7]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
list = [ 'abcd', 786 , 2.23, 'john', 70.2  ]
tuple[2] = 1000    # Invalid syntax with tuple
list[2] = 1000     # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

## Python Dictionary

In [14]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

This is one
This is two
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

## Decision Making

## IF

In [ ]:
var = 10
if ( var  == 100 ) :
    print ("Value of expression is 100")
print ("Good bye!")

## if else

In [ ]:
amount = int(input("Enter amount: "))

if amount<1000:
   discount = amount*0.05
   print ("Discount",discount)
else:
   discount = amount*0.10
   print ("Discount",discount)
    
print ("Net payable:",amount-discount)

## LOOPS

### while loop

In [ ]:
count = 0
while (count < 9):
   print ('The count is:', count)
   count = count + 1

print ("Good bye!")

### for loop

In [ ]:
range(5)

In [ ]:
list(range(10))

In [ ]:
for var in list(range(5)):
   print (var)

In [ ]:
for letter in 'Python':     # traversal of a string sequence
   print ('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']

for fruit in fruits:        # traversal of List sequence
   print ('Current fruit :', fruit)

print ("Good bye!")

## Function

In [ ]:
# Function definition is here
def printme( str1 ):
   print (str1)
   return

# Now you can call printme function
# printme("This is first call to the user defined function!")
# printme("Again second call to the same function")


def add(a,b):
    print(a+b)
    return

add(6.6,7.1)

# Import

In [ ]:
import pandas as pd
from pandas import array

# Class

In [ ]:
class Employee:
   
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print ("Total Employee %d" % Employee.empCount)

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)


#This would create first object of Employee class"
emp1 = Employee("Zara", 2000)
#This would create second object of Employee class"
emp2 = Employee("Manni", 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print ("Total Employee %d" % Employee.empCount)

### The first method __init__() is a special method, which is called class constructor or initialization method that Python calls when you create a new instance of this class.
### You declare other class methods like normal functions with the exception that the first argument to each method is self. Python adds the self argument to the list for you; you do not need to include it when you call the methods.

# Class Inheritance

class SubClassName (ParentClass1[, ParentClass2, ...]):
   'Optional class documentation string'
   class_suite

In [ ]:
class Parent:        # define parent class
   parentAttr = 100
   def __init__(self):
      print ("Calling parent constructor")

   def parentMethod(self):
      print ('Calling parent method')

   def setAttr(self, attr):
      Parent.parentAttr = attr

   def getAttr(self):
      print ("Parent attribute :", Parent.parentAttr)
        
class parent2():
       def __init__(self):
            print ("constructor is called")

class Child(parent2,Parent): # define child class
   def __init__(self):
      print ("Calling child constructor")

   def childMethod(self):
      print ('Calling child method')

c = Child()          # instance of child
c.childMethod()      # child calls its method
c.parentMethod()     # calls parent's method
c.setAttr(200)       # again call parent's method
c.getAttr()          # again call parent's method

# Exceptions Handling

In [ ]:
try:
   fh = open("testfile", "w")
   try:
      fh.write("This is my test file for exception handling!!")
   finally:
      print ("Going to close the file")
      fh.close()
except IOError:
   print ("Error: can\'t find file or read data")

# Overriding Methods

In [ ]:
class Parent:        # define parent class
   def myMethod(self):
      print ('Calling parent method')

class Child(Parent): # define child class
   def myMethod(self):
      print ('Calling child method')

c = Child()          # instance of child
c.myMethod()         # child calls overridden method

# Overloading Operators

In [ ]:
# Python program to show use of 
# + operator for different purposes. 
  
print(1 + 2) 
  
# concatenate two strings 
print("Geeks"+"For")  
  
# Product two numbers 
print(3 * 4) 
  
# Repeat the String 
print("Geeks"*4)

#  Arguments in Python | **kwargs

In [8]:
def person(name,*data):
    print(name)
    print(data)

person('ravi',20,'pune',9878797)

ravi
(20, 'pune', 9878797)

In [9]:
def person(name,**data):
    print(name)
    print(data)

person('ravi',age=20,city='pune',mob=9878797)

ravi
{'age': 20, 'city': 'pune', 'mob': 9878797}

In [10]:
def person(name,**data):
    print(name)
    for i,j in data.items():
        print(i,j)

person('ravi',age=20,city='pune',mob=9878797)

ravi
age 20
city pune
mob 9878797

# Global vs local variable

In [11]:
a = 10
def something():
    a = 15
    print("inside function", a)

something()

print("outside function", a)

inside function 15
outside function 10

In [12]:
a = 10
def something():
    
    print("inside function", a)

something()

print("outside function", a)

inside function 10
outside function 10

In [13]:
a = 10
def something():
    global a
    a = 15
    print("inside function", a)

something()

print("outside function", a)

inside function 15
outside function 15

## pass list to find even odd numbers

In [ ]:
def count(lst):
    even = 0
    odd = 0
    for i in lst:
        if i%2==0:
            even+=1
        else:
            odd+=1
    return even,odd


lst = [20,25,22,55,44,34,56,33,21]
even ,odd =count(lst)
print("Even",even)
print("odd",odd)

# Iterator

In [3]:
nums = [7,8,9,5]
it = iter(nums)

print(it.__next__())
print(it.__next__())

print(next(it))

7
8
9

# Generators

In [7]:
def topten():
    yield 1
    yield 2
    yield 3
    
values = topten()

print(values.__next__())
print(values.__next__())

1
2

# code for square of 10 numbers

In [8]:
def square():
    n = 1
    
    while n <= 10:
        sq = n*n
        yield sq
        n += 1

val=square()

for i in val:
    print(i)

1
4
9
16
25
36
49
64
81
100